<div class='container'>
  <div class='row'>
    <div class="col-6 mx-auto mt-3">
      <h3 style="font-family: Georgia, monospace; color: #191970;">グループ編集</h3>
      <div>
        <% if @group.errors.any? %>
          <% @group.errors.count %>
            <p><%= @group.errors.count %>件のエラーにより、このグループの更新に失敗しました</p>
          <ul>
            <% @group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= render 'form', group: @group %>
      <%=link_to "グループ一覧へ",groups_path,data: {"turbolinks"=>false} %>
    </div>
  </div>
</div>