<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-12 mt-3'>
      <%= render 'index', groups: @groups %>
    </div>
  </div>
</div>
<div class="mt-3">
  <%= link_to "戻る", user_path(current_user),data: {"turbolinks"=>false} %>
</div>
<%= paginate @groups, theme: 'bootstrap-5' %>