<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto mt-3">
      <h3>グループ作成</h3>
    <div>
      <% if @group.errors.any? %>
        <% if @group.errors.count > 1 %>
          <p><%= @group.errors.count %>errors prohibited this group from being saved:</p>
        <% else %>
          <p><%= @group.errors.count %>error prohibited this group from being saved:</p>
        <% end %>
        <ul>
          <% @group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
        <%= render 'form', group: @group %>
    </div>
  </div>
</div>