<h1>Public::Groups#new</h1>
<p>Find me in app/views/public/groups/new.html.erb</p>
<!--<div>-->
<!--  <%# if @diary_record.errors.any? %>-->
<!--    <%# if @diary_record.errors.count > 1 %>-->
<!--      <p><%#= @diary_record.errors.count %>errors prohibited this diary_record from being saved:</p>-->
<!--    <%# else %>-->
<!--      <p><%#= @diary_record.errors.count %>error prohibited this diary_record from being saved:</p>-->
<!--    <%# end %>-->
<!--    <ul>-->
<!--      <%# @diary_record.errors.full_messages.each do |message| %>-->
<!--        <li><%#= message %></li>-->
<!--      <%# end %>-->
<!--    </ul>-->
<!--  <%# end %>-->
<!--</div>-->