<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-12 mt-3'>
      <h3>グループ検索結果一覧</h3>
      <div><%= link_to "グループ一覧へ", groups_path %></div>
      <%= render 'public/groups/index', groups: @groups %>
    </div>
  </div>
</div>
<%= paginate @groups %>