<div class="container">
  <div class="row">
    <div class="mt-4 mx-auto col-12 col-sm-10 col-lg-8" style="font-size: 18px;">
    <p>このサイトでは、あなたの日々の努力や結果を記録として残すことができます。</p>
    <p>あなただけの頑張りの記録を作り、多くの人と共有することができます</p>
    <p>同じ目標を持った人を検索し、グループを作って応援しあうことも可能です。</p>
    <p>日常の小さな努力も投稿し、成長を実感しましょう！</p>
    <img src="<%= asset_path('jewel_1.jpg') %>" width="100%" height="350" alt="画像">
    </div>
  </div>
</div>