<div class="container">
  <div class="row">
    <div class="mt-5 mx-auto col-12 col-sm-10 col-lg-8 col-xl-6">
      <h1 class="mb-4" style="font-family: Georgia, monospace; color: #00aaff;">Effort Jewel Craft  <span style="font-size: smaller;">へようこそ！</span></h1>
      <p style="font-family: Georgia, monospace; color: #191970;">Effort Jewel Craftでは、あなたの日常の努力や結果を記録し、</p>
      <p class="mb-4" style="font-family: Georgia, monospace; color: #191970;">多くの人々と共有することができます</p>

        <div class="top-button">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-default mb-3 guest-button", method: :post, style: "height: 50px;" %>
        </div>
        <div class="top-button">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-default mb-3 login-button", style: "height: 50px;" %>
        </div>
        <div class="top-button">
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-default mb-3 signup-button", style: "height: 50px;" %>
        </div>
        <!--<div class="top-button">-->
        <!--  <%#= link_to "管理者としてログイン", new_admin_session_path, class: "btn btn-default admin-button" %>-->
        <!--</div>-->
    </div>
  </div>
</div>
<script>
  // 透明から不透明になるアニメーション
  $("h1").css("opacity", 0).delay(200).animate({opacity: 1}, 700);
  $("p").css("opacity", 0).delay(500).animate({opacity: 1}, 700);
  $(".top-button").css("opacity", 0).delay(800).animate({opacity: 1}, 500);
  // ボタンにカーソルを合わせた時だけアニメーション
  $(window).on('load', function(){
  setTimeout(function(){
    $('.top-button').on('mouseenter', function(){
      $(this).stop().animate({
        'font-size': '24px',
        'padding': '10px'
      }, 300);
    });

    $('.top-button').on('mouseleave', function(){
      $(this).stop().animate({
        'font-size': '',
        'padding': ''
      }, 300);
    });
  }, 1400); // 必要に応じて遅延時間を調整
});
</script>