<div class="container">
  <div class="row">
    <div class="mt-4 mx-auto col-12 col-sm-10 col-lg-8 col-xl-6">
      <h1 class="mb-4" style="font-family: Georgia, monospace; color: #00aaff;">Effort Jewel Craft  <span style="font-size: smaller;">へようこそ！</span></h1>
      <p style="font-family: Georgia, monospace; color: #9932cc;">Effort Jewel Craftでは、あなたの日常の努力や結果を記録し、</p>
      <p class="mb-4" style="font-family: Georgia, monospace; color: #9932cc;">多くの人々と共有することができます。</p>

        <div class="top-button">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-default mb-3 guest-button", method: :post %>
        </div>
        <div class="top-button">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-default mb-3 login-button" %>
        </div>
        <div class="top-button">
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-default mb-3 signup-button" %>
        </div>
        <!--<div class="top-button">-->
        <!--  <%#= link_to "管理者としてログイン", new_admin_session_path, class: "btn btn-default admin-button" %>-->
        <!--</div>-->

    </div>
  </div>
</div>