/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*ユーザーアイコンを丸形にしている*/
.circle-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/*投稿背景を基準とする*/
.bg-image {
  position: relative;
}
/*ユーザー名、画像を絶対位置*/
.overlay-text {
  position: absolute;
  top: 20%;
  left: 13%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 2;
}
/*タイトル*/
.overlay-text1 {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 2;
}
/*内容*/
.overlay-text2 {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 2;
}
/*タグ（カテゴリー）*/
.overlay-text3 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 2;
}
/*投稿画像*/
.overlay-image {
  position: absolute;
  top: 15%;
  left: 85%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 2;
}
/*いいねとコメント数*/
.overlay-text4 {
  position: absolute;
  top: 88%;
  left: 15%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 2;
}
/*投稿日付*/
.overlay-text5 {
  position: absolute;
  top: 92%;
  left: 88%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 2;
}
/*投稿者名前の文字を…に省略*/
.name-truncate {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 7em;
}
/*投稿のbodyの中身*/
.truncate-text {
  word-break: break-word;
}