<div class='col-md-3'>
  <% if @user == current_user %>
    <h3 class="mt-3">マイページ</h3>
  <% else %>
    <h3 class="mt-3">ユーザー詳細</h3>
  <% end %>

  <table class='table'>
    <tbody>
      <tr>
        <%= image_tag @user.get_profile_image(100, 100) %>
      </tr>
      <tr>
        <td>ユーザー名</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>自己紹介</td>
        <td><%= @user.introduction %></td>
      </tr>
    </tbody>
  </table>


  <% if @user == current_user && @user.email != "guest@example.com" %>
    <div class='row'>
    <%= link_to edit_user_path(@user), class: "col-12" do %>
      <div class="btn btn-outline-secondary btn-block mt-4">
      <i class="fa-solid fa-user-gear"></i>
      </div>
    <% end %>
    </div>
  <% end %>
</div>