<footer style="background-image: url('<%= image_url("blue_jewel.jpg") %>'); background-size: cover; background-repeat: no-repeat;">
    <div class='row mx-auto'>
      <div class='mx-auto text-dark'>
        <%= link_to policies_path, class: 'nav-link', style: 'color: #191970;' do %>
          <i class="fa-solid fa-right-to-bracket"></i>  利用規約・免責事項
        <% end %>
      </div>
    </div>
  </div>
</footer>