<footer style="background-image: url('<%= asset_path('pink_diamond.jpg') %>'); background-size: cover;background-repeat: no-repeat;">
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto text-light'>
        <%= link_to policies_path, class: 'nav-link text-dark' do %>
          <i class="mr-1 fa-solid fa-right-to-bracket"></i> 利用規約・免責事項
        <% end %>
      </div>
    </div>
  </div>
</footer>